<h1>{{ title }}</h1>

<app-pizza [pizza]="pizza" (canceled)="onCancel($event)" />

<p *ngIf="loading">
  Chargement...
</p>

<ul class="pizzas">
  <li
    *ngFor="let p of pizzas"
    (click)="onSelect(p)"
    [class.selected]="pizza && p.id === pizza.id"
  >
    <h3>{{ p.name }}</h3>
    <img [src]="`/assets/pizzas/${p.image}`" [alt]="p.name">
  </li>

  <!-- <ng-template ngFor let-pizza [ngForOf]="pizzas">
    <div>
      {{ pizza.name }}
    </div>
  </ng-template> -->
</ul>

<ul>
  <li *ngFor="let message of messages; index as i">
    <h3>{{ message }}</h3>
    <button (click)="deleteMessage(i)">X</button>
  </li>
</ul>

<button (click)="toggleNewPizza()">
  Ajouter une pizza
</button>

<div *ngIf="showNewPizza">
  <input type="text" [(ngModel)]="newPizza.name" (keydown)="save($event)">
  <input type="text" [(ngModel)]="newPizza.price" (keydown)="save($event)">
</div>

<app-counter (changed)="computeTotal($event)" />
<app-counter [value]="5" (changed)="computeTotal($event)" />
<app-counter [value]="10" (changed)="computeTotal($event)" />

<p>{{ total }}</p>

<app-author [author]="user" />
