<div class="max-w-3xl mx-auto">
  <div class="flex justify-between items-center py-4">
    <h1 class="text-xl">{{ title }}</h1>

    <nav class="flex gap-4">
      <a routerLink="/">Accueil</a>
      <a routerLink="/pizzas">Pizzas</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/login/toto">Login with toto</a>
      <a [routerLink]="['/login', { username: 'toto' }]">Login with toto</a>
    </nav>
  </div>

  <ul>
    <li *ngFor="let message of messages; index as i">
      <h3>{{ message }}</h3>
      <button (click)="deleteMessage(i)">X</button>
    </li>
  </ul>

  <router-outlet />
</div>
