<h1>{{ title }}</h1>

<app-pizza [pizza]="pizza" (canceled)="onCancel($event)" />

<ul class="pizzas">
  <li
    *ngFor="let p of pizzas"
    (click)="onSelect(p)"
    [class.selected]="pizza && p.id === pizza.id"
  >
    <h3>{{ p.name }}</h3>
    <img [src]="`/assets/pizzas/${p.image}`" [alt]="p.name">
  </li>

  <!-- <ng-template ngFor let-pizza [ngForOf]="pizzas">
    <div>
      {{ pizza.name }}
    </div>
  </ng-template> -->
</ul>

<app-counter />
<app-counter [value]="5" />
<app-counter [value]="10" />

<app-author [author]="user" />
