<div *ngIf="pizza">
  <h2>{{ pizza.name }}</h2>
  <h2 [textContent]="pizza.name"></h2>
  <input type="text" [value]="pizza.name" (input)="pizza.name = $any($event.target).value" class="border">
  <input type="text" [(ngModel)]="pizza.name" class="border">
  <button (click)="save()" class="px-2 py-1 bg-gray-200 hover:bg-gray-400 duration-300 rounded-md">Mettre à jour</button>
  <p>{{ pizza.price }}</p>
  <img [src]="`/assets/pizzas/${pizza.image}`" [alt]="pizza.name">
  <button (click)="cancel()" class="px-2 py-1 bg-gray-200 hover:bg-gray-400 duration-300 rounded-md">Annuler</button>
</div>
